.button-link {
  background: none !important;
  color: #2e8aca;
  border: none;
  padding: 5px !important;
  font: inherit;
  font-size: 1.20em;
  cursor: pointer;
  text-decoration: underline;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:hover {
    color: #2e8aca;
  }
  &:focus {
    color: inherit;
  }
  &:visited {
    color: #2e8aca;
  }
}

button.button-link.govuk-link.govuk-link--no-visited-state:focus {
  background: #fd0!important;
}
