@import '_registration';

$govuk-assets-path: '/plastic-packaging-tax/assets/';
$govuk-images-path: "/plastic-packaging-tax/assets/lib/govuk-frontend/govuk/assets/images/";
$govuk-fonts-path: "/plastic-packaging-tax/assets/lib/govuk-frontend/govuk/assets/fonts/";
$hmrc-assets-path: "/plastic-packaging-tax/assets/lib/hmrc-frontend/hmrc/assets/";

@import 'lib/govuk-frontend/govuk/all';
@import "lib/hmrc-frontend/hmrc/all";