$govuk-assets-path: "/register-for-plastic-packaging-tax/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/register-for-plastic-packaging-tax/assets/lib/hmrc-frontend/hmrc/";
@import "lib/govuk-frontend/dist/govuk/index";
@import "lib/hmrc-frontend/hmrc/all";
$govuk-suppressed-warnings: ie8;

@import '_registration';
@import '_account';
@import '_location-autocomplete';

// Fix for font mismatch in country auto-complete widget - copied from Address Lookup Frontend
.autocomplete__menu {
  font-family: "GDS Transport", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
}

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}